/* Projects.module.css */

.projects-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #333;
}

.projects-container h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #5e35b1;
}

.project-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-item h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #5e35b1;
}

.project-item p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}
